.text {
  color: white !important;
}

.card {
  border-radius: 12px;
  height: 450px;
  overflow: hidden;
}

.card-title {
  font-weight: bold;
}

.card-body {
  padding: 1rem;
}

.btn-primary {
  background-color: #6c63ff;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #524bd1;
}

.project-description {
  text-align: justify;
}

.highlight {
  font-weight: bold;
  color: #86c232;
}
  